Client/Client/Service References/GameServerServices/GameServerServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameServerServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.20.18.161:8989/Game_Server/GameServerServices/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.20.18.161:8989/Game_Server/GameServerServices/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.20.18.161:8989/Game_Server/GameServerServices/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TexasHoldemDBWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameServerServices_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IGameServerServices_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServerServices_CreateNewTable_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewTable" />
  </wsdl:message>
  <wsdl:message name="IGameServerServices_CreateNewTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewTableResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServerServices_JoinIntoTable_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinIntoTable" />
  </wsdl:message>
  <wsdl:message name="IGameServerServices_JoinIntoTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinIntoTableResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameServerServices">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServerServices/Login" message="tns:IGameServerServices_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServerServices/LoginResponse" message="tns:IGameServerServices_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServerServices/CreateNewTable" message="tns:IGameServerServices_CreateNewTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServerServices/CreateNewTableResponse" message="tns:IGameServerServices_CreateNewTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinIntoTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServerServices/JoinIntoTable" message="tns:IGameServerServices_JoinIntoTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServerServices/JoinIntoTableResponse" message="tns:IGameServerServices_JoinIntoTable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameServerServices" type="tns:IGameServerServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IGameServerServices/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewTable">
      <soap:operation soapAction="http://tempuri.org/IGameServerServices/CreateNewTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinIntoTable">
      <soap:operation soapAction="http://tempuri.org/IGameServerServices/JoinIntoTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IGameServerServices1" type="tns:IGameServerServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IGameServerServices/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewTable">
      <soap:operation soapAction="http://tempuri.org/IGameServerServices/CreateNewTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinIntoTable">
      <soap:operation soapAction="http://tempuri.org/IGameServerServices/JoinIntoTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameServerServices">
    <wsdl:port name="BasicHttpBinding_IGameServerServices" binding="tns:BasicHttpBinding_IGameServerServices">
      <soap:address location="http://172.20.18.161:8989/Game_Server/GameServerServices/" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IGameServerServices1" binding="tns:BasicHttpBinding_IGameServerServices1">
      <soap:address location="http://172.20.18.161:8989/Game_Server/GameServerServices/GameServerServices" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>