Client/Client/Service References/GameServerServices/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.20.18.161:8989/Game_Server/GameServerServices/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TexasHoldemDBWCF" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TexasHoldemDBWCF" minOccurs="0" name="LoginResult" nillable="true" type="q1:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="minAmount" type="xs:int" />
        <xs:element minOccurs="0" name="smallBlind" type="xs:int" />
        <xs:element minOccurs="0" name="BigBlind" type="xs:int" />
        <xs:element minOccurs="0" name="maxUsers" type="xs:int" />
        <xs:element minOccurs="0" name="adminID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinIntoTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableID" type="xs:int" />
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinIntoTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JoinIntoTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>