Game Server/Service References/DBService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TexasHoldemDBService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TexasHoldemDBWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITexasHoldemDB_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_CheckIfExist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfExist" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_CheckIfExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfExistResponse" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_CreateTable_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTable" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_CreateTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTableResponse" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_DeleteTable_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTable" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_DeleteTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTableResponse" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_GetId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetId" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_GetId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_GetAllGamesTables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGamesTables" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_GetAllGamesTables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGamesTablesResponse" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_JoinToTable_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinToTable" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_JoinToTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinToTableResponse" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_LeaveTable_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveTable" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_LeaveTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveTableResponse" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_GetPlayerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerInfo" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_GetPlayerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_UpdateMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMoney" />
  </wsdl:message>
  <wsdl:message name="ITexasHoldemDB_UpdateMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMoneyResponse" />
  </wsdl:message>
  <wsdl:portType name="ITexasHoldemDB">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ITexasHoldemDB/Register" message="tns:ITexasHoldemDB_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITexasHoldemDB/RegisterResponse" message="tns:ITexasHoldemDB_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ITexasHoldemDB/Login" message="tns:ITexasHoldemDB_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITexasHoldemDB/LoginResponse" message="tns:ITexasHoldemDB_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIfExist">
      <wsdl:input wsaw:Action="http://tempuri.org/ITexasHoldemDB/CheckIfExist" message="tns:ITexasHoldemDB_CheckIfExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITexasHoldemDB/CheckIfExistResponse" message="tns:ITexasHoldemDB_CheckIfExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTable">
      <wsdl:input wsaw:Action="http://tempuri.org/ITexasHoldemDB/CreateTable" message="tns:ITexasHoldemDB_CreateTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITexasHoldemDB/CreateTableResponse" message="tns:ITexasHoldemDB_CreateTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTable">
      <wsdl:input wsaw:Action="http://tempuri.org/ITexasHoldemDB/DeleteTable" message="tns:ITexasHoldemDB_DeleteTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITexasHoldemDB/DeleteTableResponse" message="tns:ITexasHoldemDB_DeleteTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetId">
      <wsdl:input wsaw:Action="http://tempuri.org/ITexasHoldemDB/GetId" message="tns:ITexasHoldemDB_GetId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITexasHoldemDB/GetIdResponse" message="tns:ITexasHoldemDB_GetId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGamesTables">
      <wsdl:input wsaw:Action="http://tempuri.org/ITexasHoldemDB/GetAllGamesTables" message="tns:ITexasHoldemDB_GetAllGamesTables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITexasHoldemDB/GetAllGamesTablesResponse" message="tns:ITexasHoldemDB_GetAllGamesTables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinToTable">
      <wsdl:input wsaw:Action="http://tempuri.org/ITexasHoldemDB/JoinToTable" message="tns:ITexasHoldemDB_JoinToTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITexasHoldemDB/JoinToTableResponse" message="tns:ITexasHoldemDB_JoinToTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveTable">
      <wsdl:input wsaw:Action="http://tempuri.org/ITexasHoldemDB/LeaveTable" message="tns:ITexasHoldemDB_LeaveTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITexasHoldemDB/LeaveTableResponse" message="tns:ITexasHoldemDB_LeaveTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITexasHoldemDB/GetPlayerInfo" message="tns:ITexasHoldemDB_GetPlayerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITexasHoldemDB/GetPlayerInfoResponse" message="tns:ITexasHoldemDB_GetPlayerInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMoney">
      <wsdl:input wsaw:Action="http://tempuri.org/ITexasHoldemDB/UpdateMoney" message="tns:ITexasHoldemDB_UpdateMoney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITexasHoldemDB/UpdateMoneyResponse" message="tns:ITexasHoldemDB_UpdateMoney_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HttpBinding" type="tns:ITexasHoldemDB">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ITexasHoldemDB/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ITexasHoldemDB/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfExist">
      <soap:operation soapAction="http://tempuri.org/ITexasHoldemDB/CheckIfExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTable">
      <soap:operation soapAction="http://tempuri.org/ITexasHoldemDB/CreateTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTable">
      <soap:operation soapAction="http://tempuri.org/ITexasHoldemDB/DeleteTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetId">
      <soap:operation soapAction="http://tempuri.org/ITexasHoldemDB/GetId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGamesTables">
      <soap:operation soapAction="http://tempuri.org/ITexasHoldemDB/GetAllGamesTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinToTable">
      <soap:operation soapAction="http://tempuri.org/ITexasHoldemDB/JoinToTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveTable">
      <soap:operation soapAction="http://tempuri.org/ITexasHoldemDB/LeaveTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerInfo">
      <soap:operation soapAction="http://tempuri.org/ITexasHoldemDB/GetPlayerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMoney">
      <soap:operation soapAction="http://tempuri.org/ITexasHoldemDB/UpdateMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TexasHoldemDBService">
    <wsdl:port name="HttpBinding" binding="tns:HttpBinding">
      <soap:address location="http://172.20.18.28:8400/TexasHoldemDBWCF/TexasHoldemDBService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>