Game Server/Service References/DBService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TexasHoldemDBWCF" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="f_Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="l_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TexasHoldemDBWCF" minOccurs="0" name="LoginResult" nillable="true" type="q1:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkIfExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inTable" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toSearch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkIfExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkIfExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MinAmountToEnter" type="xs:int" />
        <xs:element minOccurs="0" name="SmallBlind" type="xs:int" />
        <xs:element minOccurs="0" name="BigBlind" type="xs:int" />
        <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
        <xs:element minOccurs="0" name="adminID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromTable" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGamesTables">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGamesTablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TexasHoldemDBWCF" minOccurs="0" name="GetAllGamesTablesResult" nillable="true" type="q2:ArrayOfTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinToTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableID" type="xs:int" />
        <xs:element minOccurs="0" name="playerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinToTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JoinToTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPlayerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPlayerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TexasHoldemDBWCF" minOccurs="0" name="getPlayerInfoResult" nillable="true" type="q3:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerID" type="xs:int" />
        <xs:element minOccurs="0" name="totalMoney" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMoneyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>